td {
  text-align: left;
}

tbody {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#settings-content {
  width: 100%;
  margin: 40px 20% 0px;
}

#table {
  display: flex;
  justify-content: center;
  background-color: var(--secondary-background-color);
  border: 1px solid var(--primary-border-color);
}

#table table {
  width: 100%;
  padding: 3%;
}

.info {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 1rem;
  color: var(--primary-text-color);
}

.description {
  font-size: 0.9rem;
  color: var(--secondary-text-color);
}

.buttons > button {
  border: 1px solid var(--primary-border-color);
  border-radius: 6px;
  background-color: var(--secondary-background-color);
  color: var(--primary-text-color);
  cursor: pointer;
  padding: 8px 40px;
}

.buttons .active {
  color: rgb(138, 137, 213);
  background-color: var(--senary-background-color);
}

.dropbtn {
  border: 1px solid var(--primary-border-color);
  border-radius: 6px;
  background-color: var(--secondary-background-color);
  color: var(--primary-text-color);
  cursor: pointer;
  padding: 8px 40px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  overflow: auto;
  z-index: 1;
  margin-top: 4px;
  border: 1px solid var(--primary-border-color);
  border-radius: 6px;
}

.dropdown-content button {
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
  padding: 8px 60px;
  text-decoration: none;
  border: none;
  display: block;
  width: 100%;
}

.dropdown button:hover {
  background-color: var(--senary-background-color);
  border-color: rgb(138, 137, 213);
}

.show {
  display: block;
}
